.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 0.5em;
  border-bottom: none;
}

.post {
  @include mobile{
    font-size: 80%;
  }
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-style: italic;
  }
  time{
    color: $gray;
  }
  .entry{
    margin: 5px 0;
  }
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
