/* site base */
body {
  background: $white;
  font: 18px/1.6 $helvetica;
  color: $darkGray;
}

*{
  box-sizing: border-box;
}
time{
  font-family: Georgia, "Microsoft YaHei", serif, Galdeano, "Hiragino Sans GB", sans-serif;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  text-align: right;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

/* tools */

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {clear: both; }

.text-center{text-align: center; }
.text-right{text-align: right; }

/* padding */
.padding-y,
.padding-bottom{
  padding-top: 15px;
}
.padding-y,
.padding-bottom{
  padding-bottom: 15px;
}

/* margin */
.margin-y,
.margin-bottom{
  margin-top: 15px;
}
.margin-y,
.margin-bottom{
  margin-bottom: 15px;
}
